body{
    background-color: #f0f8ff;
    font-family: "JKMaruGothic";
}

nav{
    width: 100%;
    height: 70px;
    background-color: #457789;
    padding-top: 5px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}
.topBar{
    display: flex;
}
.topBar li{
    list-style: none;
}
.topBar a{
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}
.topBar a:hover{
    color: rgb(214, 237, 248);

}

header{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 100px;
    width: 100%;
}

.rogo{
    width: 400px;
}

main{
    width: 60%;
    /*border: 1px solid black;*/
    width: 95%;
    margin: auto;
    display: block;
}
.new h1{
    text-align: center;
}

section{
    margin: 50px auto 100px auto;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #457789;
    padding: 10px;
}

.Center{
    margin: auto;
    display: block;
    text-align: Center;
}
@font-face{
    font-family: "JKMaruGothic";
    src: url("JKMaruGothic.otf") format("truetype");
    font-display: swap;
}


/* ふわふわな枠線 */
.cstm-box-fluffy {
   margin: 2em auto; /* 外側余白 */
   padding: 2em;   /* 内側余白 */
   background-color:#fff; /* 背景色 */
   box-shadow: 0 0 6px 1px #bcf6fa, 0 0 6px 1px #bcfaf9 inset; /*ふわりとした影*/
   border-radius: 30px;
   max-width: 800px; /* 最大幅 */
}

/* ボックス内の段落 */
.cstm-box-fluffy p { margin:0; }

/* メモアイコン付きボックス */

/* ボックス全体 */
.cstm-box-memo {
   margin: 2em auto; /* 外側余白 */
   padding: 1em 2em 2em; /* 内側余白 */
   background-color: #f0f4ff; /* 背景色 */
   border-radius: 5px; /* 角の丸み */
   max-width: 800px; /* 最大幅 */
}

/* タイトル部分 */
.cstm-box-memo .box-title {
   color: #839de5; /* 文字色 */
   font-size: 1.1em; /* 文字サイズ */
   font-weight: bold; /* 太字 */
   line-height: 2; /* 行の高さ */
}

/* タイトルのアイコン */
.cstm-box-memo .box-title::before {
   font-family: "Font Awesome 5 Free";
   content: "✎"; /* メモアイコン */
   margin-right: 5px; /* アイコンと文字の間隔 */
}


/* ボックス内段落の余白リセット */
.cstm-box-memo p { margin: 0;}